*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    /* background-image: url(images\\naruto-uzumaki-3840x2160-12705.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 40px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}
.container{
    margin-top: 10%;
    background-color:rgb(23, 18, 18);
    color: green;
    width: 50vw;
   
    
    padding: 20px;
    position: relative;
  
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container h1{
    text-align: center;
}
input{
    width: 90%;
    padding: 10px;
    display: block;
    border: solid whitesmoke;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.buts{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.listcontainer{
    width:50vw;

}

@media screen and (max-width:700px){
    input{
        width: 100%;
    }
}

button{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color:white;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover{
    cursor: pointer;
    background-color: rgb(115, 223, 115);
}
.list{
    margin-top: 30px;
}
ul{
    list-style: none;   
}
ul li{
    background-color: #fff;
    color: white;
    padding: 10px;
    height: 70px;
  
    margin-bottom: 10px;
    font-size: x-large;
    position: relative;
    display: flex;
    outline: none;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
span{
    color: black;
}
img{
    height: 30px;
    margin-right: 10px;
}
.cross{
    position:absolute;
    right: 1px;
    padding: 5px;
    border-radius: 2px;
}
.wall{
    position: absolute;
    right: 0;
    bottom: 0;
}
.cross:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logout{
    position: absolute;
    top: 0px;
    right: 0px;
}

